$text-color: #fff;

$text-light: #bebebe;
$text-dark: #444444;

$hover: #607d8b;

$theme-color: #42a5f5;

$ton-xxd: #2f2f2f;
$ton-xd: #383838;
$ton-d: #474747;
$ton-m: #666;
$ton-l: #eeeeee;
$ton-xl: #f9f9f9;
$ton-xxl: #fff;

$ton-red: #ec407a;
$ton-blue: #42a5f5;
$ton-green: #66bb6a;