@import "colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.red {
  color: $ton-red;
}
.blue {
  color: $ton-blue;
}
.greem {
  color: $ton-green;
}
a {
  text-decoration: none;
  color: $ton-xd;
}

body {
  background: $ton-xxl;
  height: 100%;
}

.content {
  width: 100%;
  min-height: 100%;
  background: $ton-l;
  padding: 20px 20px 20px 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  background: $ton-xxl;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
}

form {
  input {
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 10px;
  }
  button {
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    background: $theme-color;
    color: white;
    cursor: pointer;
  }
}

.box-shadow {
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
}
