@import "colors";
.login-padding {
  padding-top: 300px;
  background: $ton-l;
}

.login {
  width: 350px;
  margin: 0 auto 0 auto;
  .login-form {
    background-color: $ton-d;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);

    .login-box-header {
      padding: 30px 20px 20px 20px;
      background: $ton-xd;
      h1 {
        margin-bottom: 3px;
        font-weight: 100;
        color: $ton-xl;
      }
      h3 {
        color: $ton-l;
        font-weight: 100;
        font-size: 17px;
      }
    }

    .login-box-content {
      padding: 20px;
      .login-icon {
        width: 15%;
        height: 33px;
        margin: 5px 0 10px;
        text-align: center;
        border-radius: 10px 0 0 10px;
        background-color: $ton-xd;
        i {
          line-height: 33px;
          color: $ton-xl;
        }
      }
      form {
        display: flex;
        flex-wrap: wrap;
        label {
          color: $ton-xl;
        }
        input {
          border: 1px solid white;
          padding: 8px 15px;
          border-radius: 0 10px 10px 0;
          margin: 5px 0 10px;
          width: 85%;
        }
        button {
          border: 0px;
          padding: 10px 20px;
          border-radius: 10px;
          margin: 5px 35% 0 35%;
          width: 30%;
          background: $theme-color;
          color: white;
        }
      }
    }
  }
}