@import "colors";

.text-center {
  text-align: center;
}

.box-30p {
  width: 32%;
  min-height: 360px;
  border-radius: 2px;
  background-color: $ton-xxl;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
  hr {
    margin: 10px 0;
  }
  ul {
    a {
      text-decoration: none;
      li {
        height: 40px;
        border-bottom: 1px solid white;
        list-style: none;
        &:hover {
          background-color: $ton-xxl;
        }
        &:nth-child(even) {
           background-color: $ton-l;
        }
        td {
          line-height: 40px;
          padding-right: 10px;
        }
      }
    }
  }
  form {
    button {
      border: 0;
      padding: 10px 20px;
      border-radius: 10px;
      margin: 20px 35% 0 35%;
      width: 30%;
      background: $theme-color;
    }
  }
}
.special-button {
  background: #2196f3;
  line-height: 20px;
  border: 0px;
  color: #f9f9f9;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.box-search-bar {
  width: 100%;
  padding: 20px;
  background: $ton-xl;
  height: 75px;
}
.box-header {
  width: 100%;
  height: 60px;
  background: $ton-xl;
  padding: 20px;
  line-height: 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  button{
    float: right;
    margin-top: -10px;
    background-color: $ton-green;
  }
  h3 {
    line-height: 20px;
    float: left;
  }
}
.box-content {
  padding: 20px;
  width: 100%;
  table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0px;
    border: 2 px solid $ton-xl;
    tr:nth-child(even) {
      background: $ton-xl;
    }
    th {
      background: $ton-l;
    }
    th, td{
      text-align: left;
      padding: 8px 5px;
    }
  }
}
.patient-box-information {
  width: 49%;
  background-color: $ton-xxl;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
  i {
    font-size: 20px;
  }
}
.patient-box-notes {
  width: 100%;
  height: 400px;
  border-radius: 2px;
  background-color: $ton-xxl;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
  .one-third {
    width: 33%;
    float: left;
    textarea {
      max-width: 100%;
      min-width: 100%;
      padding: 8px 15px;
      border-radius: 10px;
      border: 2px solid $ton-l;
      margin-bottom: 10px;
    }
    button {
      width: 100%;
    }
  }
  .two-third {
    width: 66%;
    float: right;
  }
}
.box-holder {
  background-color: $ton-xxl;
  border-radius: 2px;
  max-width: 600px;
  width: 100%;
  form {
    label {
      width: 100%;
      line-height: 40px;
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      height: 35px;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: 2px solid #eeeeee;
    }
    button {
      background-color: $theme-color;
      border-radius: 10px;
      border: 0 solid black;
      height: 35px;
      width: 100%;
      &:hover {
        opacity: 0.8;
        transform: scale(1.1);
      }
    }
  }
}


.main-menu {
  width: 280px;
  height: 100%;
  background: $ton-d;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
  float: left;
  position: fixed;
  z-index: 1000;
  left: 0;
  color: $ton-xl;
  .login-as {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $ton-xd;
    width: 100%;
    height: 60px;
    padding: 20px;
    strong {
      line-height: 20px;
    }
    i {
      margin-right: 10px;
    }
  }
  a {
    text-decoration: none;
    color: $ton-xl;
    font-weight: 600;
  }
  .logo {
    padding: 25.5px;
    width: 100%;
    text-align: center;
    transition: all .2s;
    background-color: $ton-xd;
    h1 {
      font-size: 25px;
    }
    &:hover {
      background-color: $ton-xxd;
    }
  }
  nav {
    ul {
      li {
        padding: 15px 0 15px 22px;
        transition: all .2s;
        i {
          width: 30px;
          color: #d4d4d4;
        }
        &:hover {
          background: $ton-xd;
        }
      }
    }
  }
  .logged-in-as {
    padding: 100% 20px 0 20px;
    em {
      line-height: 30px;
    }
    form {
      input {
        width: 100%;
        margin: 10px 0;
      }
      button {
        width: 100%;
      }
    }
  }
}