@import "colors";

.patient-list {
  a {
    text-decoration: none;
  }
  table {
    tr {
      &:hover {
        background-color: $ton-xxl;
      }
      &:nth-child(even) {
        background-color: $ton-l;
      }
      th, td {
        padding: 6px;
      }
    }
  }
}