@import "colors";

.patient-list {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  a {
    text-decoration: none;
  }
  table {
    tr {
      &:hover {
        background-color: $ton-xxl;
      }
      &:nth-child(even) {
        background-color: $ton-xl;
      }
    }
  }
}