.login {
  width: 350px;
  margin: 20% auto 0 auto;
}

.login .login-form {
  background-color: #506874;
  padding: 40px 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.login .login-form hr {
  border: 0.5px solid #9fb4bd;
  margin-bottom: 13px;
}

.login .login-form h1 {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.login .login-form form input {
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.login .login-form form button {
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px 35% 0 35%;
  width: 30%;
  background: #009688;
  color: white;
}

.main-box {
  height: 30%;
  width: 30%;
  padding: 25px;
  margin: 25px;
  border: 0 solid black;
  border-radius: 5px;
  background-color: #72909e;
  color: white;
}

.main-box hr {
  margin: 10px 0;
}

.main-box ol {
  padding-left: 20px;
}

.main-box ol li {
  height: 30px;
}

.main-box ol li:nth-child(even) {
  background-color: #506874;
}

.main-box ol li span {
  line-height: 30px;
}

.main-box form button {
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 35% 0 35%;
  width: 30%;
  background: #009688;
  color: white;
}

.content {
  width: 85%;
  float: right;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content .findPatientContent {
  width: 20%;
  height: 50%;
  border-radius: 10px;
  background-color: #72909e;
  padding: 15px;
  color: white;
}

.content .findPatientContent h3 {
  margin-bottom: 10px;
}

.content .findPatientContent p {
  margin-bottom: 5px;
}

.content .patientNotes {
  width: 75%;
  height: 25%;
  border-radius: 10px;
  background-color: #72909e;
  padding: 15px;
  color: white;
}

.content .createPatient {
  background-color: #72909e;
  border-radius: 10px;
  padding: 20px;
}

.content .createPatient h2 {
  margin-bottom: 20px;
  color: white;
}

.content .createPatient form label {
  width: 51%;
  line-height: 40px;
  margin-bottom: 5px;
  color: white;
}

.content .createPatient form input {
  width: 50%;
  height: 35px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0 solid black;
}

.content .createPatient form button {
  background-color: #009688;
  border-radius: 10px;
  border: 0 solid black;
  height: 35px;
  width: 10%;
  color: white;
}

.content .createPatient form button:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.main-menu {
  min-width: 200px;
  max-width: 15%;
  height: 100%;
  background: #3b4d56;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  float: left;
}

.main-menu a {
  text-decoration: none;
}

.main-menu .logo {
  padding: 30px;
  width: 100%;
  text-align: center;
}

.main-menu .logo h1 {
  color: white;
  font-size: 25px;
}

.main-menu .logo:hover {
  background-color: #263238;
}

.main-menu nav ul a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-menu nav ul a li {
  padding: 15px 30px;
}

.main-menu nav ul a li:hover {
  background: #263238;
}

.main-menu .logged-in-as {
  padding: 100% 0 0 30px;
  color: white;
}

.main-menu .logged-in-as em {
  line-height: 30px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #9fb4bd;
  min-height: 100%;
}

textarea {
  resize: none;
}

.note-form {
  float: left;
}

.notes {
  float:right;
}

.add-icon {
  float: right;
  margin-top: 2px;
  margin-left: 10px;
}
