<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<div th:fragment="header">
<head th:if="${session.email != null}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{style.css}" type="text/css">
    <title>Patient System - Main</title>
</head>
<body th:if="${session.email != null}">
<aside class="main-menu">
    <a href="">
        <div class="logo">
            <h1>Patient System</h1>
        </div>
    </a>
    <nav>
        <ul>
            <a href="/main"><li>Home</li></a>
            <a href="/patients"><li>Patient List</li></a>
            <a href="/logout"><li>Log out</li></a>
        </ul>
    </nav>
    <div class="logged-in-as">
        <strong>LOGGED IN AS:</strong><br>
        <em th:text="${session.name}"></em>
    </div>
</aside>
</div>
</html>