<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<div th:fragment="header">
<head th:if="${session.email != null}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <title th:text="'PatientSystem - ' + ${title}"></title>
</head>
<body th:if="${session.email != null}">
<aside class="main-menu">
    <a href="/">
        <div class="logo">
            <h1>PatientSystem</h1>
        </div>
    </a>
    <nav>
        <ul>
            <a href="/main"><li><i class="fas fa-home"></i>Home</li></a>
            <a href="/createPatient" th:if="${session.role == 'Doctor'}"><li><i class="fas fa-user" th:if="${session.role == 'Doctor'}"></i>Create Patient</li></a>
            <a href="/allPatients"><li><i class="fas fa-users"></i>All Patients</li></a>
            <a href="/logout"><li><i class="fas fa-sign-out-alt"></i>Log out</li></a>
        </ul>
    </nav>
    <div class="logged-in-as">
        <form class="form-class" th:action="@{/findPatient}" th:object="${Patient}" method="post">
            <label> Search for Patient</label>
            <input type="text" placeholder="CPR" name="cpr">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="login-as">
        <strong>
            <i class="fas fa-user-circle"></i>
            <em th:text="${session.name}"></em>
            <em> (<span  th:text="${session.role}"></span>)</em>
        </strong>
    </div>
</aside>
</div>
</html>