<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>

<section class="content">
    <div class="box-holder box-shadow">
        <div class="box-header">
            <h3>All your consultations</h3>
        </div>
        <div class="box-content">
            <div th:each="consultation : ${consultations}">
                <p th:text="${consultation.description}"></p>
            </div>
        </div>
    </div>
</section>
</body>
</html>