<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

    <div th:replace="fragments/header :: header"></div>

    <section class="content">
        <div class="box-holder box-shadow">
            <div class="box-header">
                <h2>Create Patient</h2>
            </div>
            <div class="box-content">
                <form th:action="@{/createPatient}" method="POST" th:object="${Patient}">
                    <div th:if="${error} == 'Patient have successfully been created!'" class="error-msg green-bg">
                        <p th:text="${error}"></p>
                    </div>
                    <div th:if="${error} != 'Patient have successfully been created!'" class="error-msg red-bg">
                        <p th:if="${error} != null" th:text="${error}"></p>
                    </div>
                    <label>First name <span class="red">*</span></label><br>
                    <input type="text" placeholder="First name" name="firstName"><br>
                    <label>Last name <span class="red">*</span></label><br>
                    <input type="text" placeholder="Last name" name="lastName"><br>
                    <label>Birth date <span class="red">*</span></label><br>
                    <input type="date" placeholder="Birth date" name="birthDate"><br>
                    <label>Height <span class="red">*</span></label><br>
                    <input type="number" placeholder="Height" name="height" value="0" minlength="1" required><br>
                    <label>Weight <span class="red">*</span></label><br>
                    <input type="number" placeholder="Weight" name="weight" value="0" minlength="1" required><br>
                    <label>CPR <span class="red">*</span></label><br>
                    <input type="number" placeholder="CPR" name="cpr" value="0" minlength="1" required><br>
                    <label>Note</label><br>
                    <input type="text" placeholder="Note" name="note" >
                    <br>
                    <button type="submit">Submit</button>

                </form>
            </div>
        </div>
    </section>

</body>
</html>