<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>
<link rel="stylesheet" th:href="@{/popup.css}" type="text/css">
<section class="content">
    <div class="findPatientContent" th:each="info : ${patient}">
        <h3>Patient Information</h3>

        <p>First name: <span th:text="${info.firstName}"></span></p>
        <p>Last name:<span th:text="${info.lastName}"></span></p>
        <p>Height: <span th:text="${info.height}"></span></p>
        <p>Weight: <span th:text="${info.weight}"></span></p>
        <p>CPR: <span th:text="${info.cpr}"></span></p>
        <p>Birth date: <span th:text="${info.birthDate}"></span></p>
    </div>
    <div class="findPatientContent">
        <h3>Consultations</h3> <img id="btn" th:src="@{/img/greenplus.png}" class="add-icon" width="20" height="20">
        <table>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr th:each="consultation : ${consultations}">
                <td th:text="${consultation.date}"></td>
                <td th:text="${consultation.description}"></td>
                <td><a th:href="@{/editConsultation/{id}(id=${consultation.id})}"><img th:src="@{/img/Custom-Icon-Design-Flatastic-1-Edit.ico}" width="15" height="15"></a>
                    <a th:href="@{/deleteConsultation/{id}(id=${consultation.id})}"><img th:src="@{/img/redcross.png}" width="15" height="15"></a>
                    </td>

            </tr>
        </table>
    </div>
    <div class="findPatientContent">
        <h3>Diagnosis</h3><img id="diagnosis-btn" th:src="@{/img/greenplus.png}" class="add-icon" width="20" height="20">
        <table>
            <tr>
                <th>Diagnosis</th>
                <th>Doctor</th>
            </tr>
            <tr th:each="diagnosis : ${diagnosis}">
                <td th:text="${diagnosis.diagnosisName}"></td>
                <td th:text="${diagnosis.doctorName}"></td>
                <td><img th:src="@{/img/Custom-Icon-Design-Flatastic-1-Edit.ico}" width="15" height="15">
                    <img th:src="@{/img/redcross.png}" width="15" height="15"></td>
            </tr>
        </table>
    </div>
    <div class="findPatientContent">
        <h3>Prescriptions</h3>
    </div>
    <div class="patientNotes" th:each="infos : ${patient}">
        <h3>Patient Journal</h3>
        <form class="note-form" th:action="@{/createNote/{id}(id=${infos.id})}" th:object="${Patient}" method="post">
            <textarea name="note" rows="10" cols="30"></textarea>
            <button type="submit">Click</button>
            <p th:text="${message}"></p>
        </form>
        <table class="notes">
            <tr>
                <th>Note</th>
                <th></th>
            </tr>
        <tr th:each="note: ${notes}">
            <td><p th:text="${note.timestamp}"></p> - <p th:text="${note.note}"></p><br></td>
        </tr>
        </table>
    </div>
</section>
</body>
<body>

<!-- The Modal -->
<div id="box" class="modal">

    <!-- Modal content -->

    <!-- Consultation -->

    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Create Consultation</h2>
        </div>
        <div class="modal-body">
            <form th:action="@{/createConsultation}" th:object="${Consultation}" method="post">
                <input type="hidden" name="userId" th:value="${session.id}">
                <input type="hidden" name="patientId" th:value="${session.patient_id}">
                <label>Description:</label>
                <input type="text" name="description">
                <label>Conclusion:</label>
                <input type="text" name="conclusion">
                <label>Date: </label>
                <input type="date" name="date">
                <button type="submit">Create Consultation</button>
            </form>
        </div>
    </div>

    </div>

    <!-- Diagnosis -->

    <div id="box-diagnosis" class="modal">

    <div class="modal-content">
        <div class="modal-header">
            <span class="close-diagnosis">&times;</span>
            <h2>Add Diagnosis</h2>
        </div>
        <div class="modal-body">
            <form th:action="@{/addDiagnosis}" th:object="${Diagnosis}" method="post">
                <input type="hidden" name="doctorId" th:value="${session.id}">
                <input type="hidden" name="patientId" th:value="${session.patient_id}">
                <label>Diagnosis:</label>
                <select name="id" id="">
                    <div th:each="diagnosis : ${diagnosisList}" >
                        <option th:value="${diagnosis.id}"><p th:text="${diagnosis.diagnosisName}"></p></option>
                    </div>
                </select>
                <label>Note:</label>
                <input type="text" name="note">
                <button type="submit">Add Diagnosis</button>
            </form>
        </div>
    </div>

    </div>

    <!-- Prescription -->

    <script>

        var box = document.getElementById('box');
        var btn = document.getElementById("btn");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            box.style.display = "block";
        }

        span.onclick = function() {
            box.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                box.style.display = "none";
            }
        }
    </script>

    <script>

        var box2 = document.getElementById('box-diagnosis');
        var btn2 = document.getElementById("diagnosis-btn");
        var span2 = document.getElementsByClassName("close-diagnosis")[0];

        btn2.onclick = function() {
            box2.style.display = "block";
        }

        span2.onclick = function() {
            box2.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                box2.style.display = "none";
            }
        }
    </script>

</body>
</html>
</html>