<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>
<link rel="stylesheet" th:href="@{/popup.css}" type="text/css">
<section class="content">

    <div th:if="${error == 'Success'}" class="error-msg green-bg">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${error != 'Success'}" class="error-msg red-bg">
        <div th:if="${error != null}">
            <p th:text="${error}"></p>
        </div>
    </div>

    <!-- ----- PATIENT INFORMATION ----- -->

    <div class="patient-box-information" th:each="info : ${patient}">
        <div class="box-header">
            <h3>Patient Information</h3>
            <button class="special-button" id="edit-patient-btn" type="button">Edit Patient Information</button>
        </div>
        <div class="box-content">
            <table>
                <tr>
                    <td>First name: <span th:text="${info.firstName}"></span></td>
                </tr>
                <tr>
                    <td>Last name: <span th:text="${info.lastName}"></span></td>
                </tr>
                <tr>
                    <td>Height: <span th:text="${info.height}"></span> cm.</td>
                </tr>
                <tr>
                    <td>Weight: <span th:text="${info.weight}"></span> kg.</td>
                </tr>
                <tr>
                    <td>CPR: <span th:text="${info.cpr}"></span></td>
                </tr>
                <tr>
                    <td>Birth date: <span th:text="${info.birthDate}"></span></td>
                </tr>
            </table>
            <button class="special-button red-bg" id="delete-patient-btn">Delete Patient</button>
        </div>
    </div>

    <!-- ----- CONSULTATION ----- -->

    <div class="patient-box-information">
        <div class="box-header">
            <h3>Consultations</h3>
            <button class="special-button" id="consultation-btn">Create New Consultations</button>
        </div>
        <div class="box-content">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="text-center">Links</th>
                </tr>
                <tr th:each="consultation : ${consultations}">
                    <td th:text="${consultation.date}"></td>
                    <td th:text="${consultation.description}"></td>
                    <td class="text-center">
                        <a th:href="@{/consultation/{id}(id=${consultation.id})}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a th:href="@{/editConsultation/{id}(id=${consultation.id})}">
                            <i class="blue fas fa-edit"></i>
                        </a>
                        <a th:href="@{/deleteConsultation/{id}(id=${consultation.id})}">
                            <i class="red fas fa-times"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- ----- DIAGNOSIS ----- -->

    <div class="patient-box-information">
        <div class="box-header">
            <h3>Diagnosis</h3>
            <button class="special-button" id="diagnosis-btn">Create New Diagnosis</button>
            <!--img id="diagnosis-btn" th:src="@{/img/greenplus.png}" class="add-icon" width="20" height="20"-->
        </div>
        <div class="box-content">
            <table>
                <tr>
                    <th>Diagnosis</th>
                    <th>Doctor</th>
                    <th class="text-center">Links</th>
                </tr>
                <tr th:each="diagnosis : ${diagnosis}">
                    <td th:text="${diagnosis.diagnosisName}"></td>
                    <td th:text="${diagnosis.doctorName}"></td>
                    <td class="text-center">
                        <a th:href="@{/deleteDiagnosis/{id}(id=${diagnosis.id})}">
                            <i class="red fas fa-times"></i>
                        </a>
                    </td>
                </tr>
            </table>
            <button type="button" id="new-diagnosis-btn" class="special-button">Add Unknown Diagnosis</button>
        </div>

    </div>

    <!-- ---- PRESCRIPTION ---- -->

    <div class="patient-box-information">
        <div class="box-header">
            <h3>Prescriptions</h3>
            <button class="special-button" type="button" id="prescription-btn">Create New Prescriptions</button>
        </div>
        <div class="box-content">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="text-center">Links</th>
                </tr>
                <tr th:each="prescription : ${prescription}">
                    <td th:text="${prescription.date}"></td>
                    <td th:text="${prescription.description}"></td>
                    <td class="text-center">
                        <a th:href="@{'/prescription/' + ${prescription.id}}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a th:href="@{'/editPrescription/' + ${prescription.id}}">
                            <i class="blue fas fa-edit"></i>
                        </a>
                        <a th:href="@{'/deletePrescription/' + ${prescription.id}}">
                            <i class="red fas fa-times"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- ---- NOTES ---- -->

    <div class="patient-box-notes" th:each="infos : ${patient}">
        <div class="box-header">
            <h3>Patient Journal</h3>
        </div>
        <div class="box-content">
            <div class="one-third">
                <form th:action="@{/createNote/{id}(id=${infos.id})}" th:object="${Patient}" method="post" class="popup-form">
                    <textarea name="note" rows="10" cols="30"></textarea>
                    <button type="submit">Click</button>
                    <p th:text="${message}"></p>
                </form>
            </div>
            <div class="two-third">
                <table class="notes">
                    <tr>
                        <th>Note creation date</th>
                        <th>Note message</th>
                    </tr>
                    <tr th:each="note: ${notes}">
                        <td><span th:text="${note.timestamp}"></span></td>
                        <td><span th:text="${note.note}"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>
</body>
<body>


<!-- ---- ------ ----  ---- ------ ----  ---- ------ ---- -->
<!-- ---- ------ ----  ---- POPUPS ----  ---- ------ ---- -->
<!-- ---- ------ ----  ---- ------ ----  ---- ------ ---- -->


<!-- ---- PRESCRIPTION ---- -->

<div id="prescription-box" class="modal">
    <div class="modal-content">
        <div class="box-header">
            <span class="prescription-close close">&times;</span>
            <h2>New Prescription</h2>
        </div>
        <div class="box-content">
            <form th:action="@{/createPrescription}" th:object="${prescription}" method="POST" class="popup-form">
                <label for="">Description: </label>
                <input type="text" placeholder="Description" name="description">
                <input type="hidden" name="doctorId" th:value="${session.id}">
                <input type="hidden" name="patientId" th:value="${session.patient_id}">
                <label for="">Medicine: </label>
                <select id="meds" name="medicineId">
                    <option th:each="medicine : ${allMedicine}"
                            th:value="${medicine.id}"
                            th:text="${medicine.name}">
                </select>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
<script>

    var prescriptionbox = document.getElementById('prescription-box');
    var prescriptionbtn = document.getElementById("prescription-btn");
    var prescriptionspan = document.getElementsByClassName("prescription-close")[0];

    prescriptionbtn.onclick = function() {
        prescriptionbox.style.display = "block";
    }

    prescriptionspan.onclick = function() {
        prescriptionbox.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            prescriptionbox.style.display = "none";
        }
    }
</script>

<!-- ---- CONSULTATION ---- -->

<div id="consultation-box" class="modal">
    <div class="modal-content">
        <div class="box-header">
            <span class="consultation-close close">&times;</span>
            <h2>Create Consultation</h2>
        </div>
        <div class="box-content">
            <form th:action="@{/createConsultation}" th:object="${Consultation}" method="post" class="popup-form">
                <input type="hidden" name="userId" th:value="${session.id}">
                <input type="hidden" name="patientId" th:value="${session.patient_id}">
                <label>Description:</label>
                <input type="text" name="description">
                <label>Conclusion:</label>
                <input type="text" name="conclusion">
                <label>Date: </label>
                <input type="date" name="date">
                <button type="submit">Create Consultation</button>
            </form>
        </div>
    </div>
</div>

<script>
    var consultationbox = document.getElementById('consultation-box');
    var consultationbtn = document.getElementById("consultation-btn");
    var consultationspan = document.getElementsByClassName("consultation-close")[0];

    consultationbtn.onclick = function() {
        consultationbox.style.display = "block";
    }

    consultationspan.onclick = function() {
        consultationbox.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            consultationbox.style.display = "none";
        }
    }
</script>

<!-- ---- DIAGNOSIS ---- -->

<div id="diagnosis-box" class="modal">
    <div class="modal-content">
        <div class="box-header">
            <span class="diagnosis-close close">&times;</span>
            <h2>Add Diagnosis</h2>
        </div>
        <div class="box-content">
            <form th:action="@{/addDiagnosis}" th:object="${Diagnosis}" method="post" class="popup-form">
                <input type="hidden" name="doctorId" th:value="${session.id}">
                <input type="hidden" name="patientId" th:value="${session.patient_id}">
                <label>Diagnosis:</label>
                <select name="id" id="">
                    <div th:each="diagnosis : ${diagnosisList}" >
                        <option th:value="${diagnosis.id}"><p th:text="${diagnosis.diagnosisName}"></p></option>
                    </div>
                </select>
                <label>Note:</label>
                <input type="text" name="note">
                <button type="submit">Add Diagnosis</button>
            </form>
        </div>
    </div>
</div>
<script>
    var diagnosisbox = document.getElementById('diagnosis-box');
    var diagnosisbtn = document.getElementById("diagnosis-btn");
    var diagnosisspan = document.getElementsByClassName("diagnosis-close")[0];

    diagnosisbtn.onclick = function() {
        diagnosisbox.style.display = "block";
    }

    diagnosisspan.onclick = function() {
        diagnosisbox.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            diagnosisbox.style.display = "none";
        }
    }
</script>

<!-- ---- NEW DIAGNOSIS ---- -->

<div id="new-diagnosis-box" class="modal">
    <div class="modal-content">
        <div class="box-header">
            <span class="new-diagnosis-close close">&times;</span>
            <h2>New Diagnosis</h2>
        </div>
        <div class="box-content">
            <form th:action="@{/addUnknownDiagnosis}" th:object="${Diagnosis}" method="post" class="popup-form">
                <label>Diagnosis:</label>
                <input type="text" name="diagnosisName">
                <button type="submit">Add Diagnosis</button>
            </form>
        </div>
    </div>
</div>
<script>
    var newdiagnosisbox = document.getElementById('new-diagnosis-box');
    var newdiagnosisbtn = document.getElementById("new-diagnosis-btn");
    var newdiagnosisspan = document.getElementsByClassName("new-diagnosis-close")[0];

    newdiagnosisbtn.onclick = function() {
        newdiagnosisbox.style.display = "block";
    }

    newdiagnosisspan.onclick = function() {
        newdiagnosisbox.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            newdiagnosisbox.style.display = "none";
        }
    }
</script>

<!-- ---- EDIT PATIENT ---- -->

<div id="edit-patient-box" class="modal">
    <div class="modal-content">
        <div class="box-header">
            <span class="edit-patient-close close">&times;</span>
            <h2>Edit Patient</h2>
        </div>
        <div class="box-content">
            <form th:action="@{/editPatient}" th:object="${Patient}" method="post"  class="popup-form">
                <input type="hidden" th:value="${session.patient_id}" name="id">
                <label for="">First name: </label>
                <input type="text" th:value="${patient.firstName}" name="firstName">
                <label for="">Last name: </label>
                <input type="text" th:value="${patient.lastName}" name="lastName">
                <label for="">Height:</label>
                <input type="text" th:value="${patient.height}" name="height" minlength="1" required>
                <label for="">Weight:</label>
                <input type="text" th:value="${patient.weight}" name="weight" minlength="1" required>
                <label for="">CPR:</label>
                <input type="text" th:value="${patient.cpr}" name="cpr" minlength="1" required>
                <button type="submit">Edit patient</button>
            </form>
        </div>
    </div>
</div>
<script>

    var editpatientbox = document.getElementById("edit-patient-box");
    var editpatientbtn = document.getElementById("edit-patient-btn");
    var editpatientspan = document.getElementsByClassName("edit-patient-close")[0];

    editpatientbtn.onclick = function() {
        editpatientbox.style.display = "block";
    }

    editpatientspan.onclick = function() {
        editpatientbox.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            editpatientbox.style.display = "none";
        }
    }
</script>

<!-- ---- DELETE PATIENT ---- -->

<div id="delete-patient-box" class="modal">
    <div class="modal-content">
        <div class="box-header">
            <span class="delete-patient-close close">&times;</span>
            <h2>Delete Patient</h2>
        </div>
        <div class="box-content">
            <form th:action="@{/deletePatient/{id}(id=${session.patient_id})}"  class="popup-form">
                <h3>Are you sure you want to delete this patient?</h3>
                <button type="submit">Delete patient</button>
            </form>
        </div>
    </div>
</div>
<script>
    var deletepatientbox = document.getElementById("delete-patient-box");
    var deletepatientbtn = document.getElementById("delete-patient-btn");
    var deletepatientspan = document.getElementsByClassName("delete-patient-close")[0];

    deletepatientbtn.onclick = function() {
        deletepatientbox.style.display = "block";
    }

    deletepatientspan.onclick = function() {
        deletepatientbox.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            deletepatientbox.style.display = "none";
        }
    }
</script>
</body>
</html>
</html>