<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

    <div th:replace="fragments/header :: header"></div>

    <section class="content">
        <div class="main-box">
            <h3>Upcoming consultations</h3>
            <hr>
            <ul class="consultation-list">
                <div th:each="consultation: ${consultations}">
                    <a th:href="@{/watchConsultation/{id}(id=${consultation.id})}">
                        <li>
                            <table>
                                <tr>
                                    <td th:text="${consultation.patientName}"></td>
                                    <td th:text="${consultation.date}"></td>
                                </tr>
                            </table>
                        </li>
                    </a>
                </div>
            </ul>
            <form th:action="@{/consultations/{id}(id=${session.id})}" method="get">
                <button type="submit">More</button>
            </form>
        </div>
        <div class="main-box">
            <h3>Recent prescriptions</h3>
            <hr>
        </div>
        <div class="main-box">
            <h3>Newest diagnosis</h3>
            <hr>
        </div>
    </section>
</body>
</html>