<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>

<section class="content">
    <div class="container patient-list">
        <div class="box-header">
            <h2>All Patients</h2>
        </div>
        <div class="box-search-bar">
            <form th:action="@{/allPatientSearch}" method="POST" th:object="${Patient}">
                <input type="text" name="searchword" placeholder="Search word">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="box-content">
            <table>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th class="text-center">View</th>
                </tr>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.firstName}"></td>
                    <td th:text="${patient.lastName}"></td>
                    <td class="text-center"><a th:href="@{/findPatient/{id}(id=${patient.id})}"><i class="fas fa-eye"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
</body>
</html>