<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>

<section class="content">
    <div class="container patient-list">
        <div th:each="patient : ${patients}">
            <a th:href="@{/findPatient/{id}(id=${patient.id})}">
                <table>
                    <tr>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.lastName}"></td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</section>
</body>
</html>