<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>

<section class="content">
    <div class="box-holder box-shadow">
        <div class="box-header">
            <h2>Prescription</h2>
        </div>
        <div class="box-content">
            <div th:each="prescription : ${prescription}">
                <table>
                    <tr>
                        <td>Patient: </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CPR: </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Creation date: </td>
                        <td th:text="${prescription.date}"></td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td th:text="${prescription.description}"></td>
                    </tr>
                    <tr>
                        <td>Medicine: </td>
                        <td>
                            <ol>
                                <div class="medicine-list" th:each="medicine : ${medicine}">
                                    <li th:text="${medicine.name}"></li>
                                    <a th:href="@{'/deleteMedicine/' + ${medicine.id} + '/' + ${prescription.id}}"><span class="fas fa-times red"></span></a>
                                </div>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>Add Medicine:</td>
                        <td>
                            <form th:action="@{/addMedicine/{id} (id=${prescription.id})}" th:object="${prescription}" method="POST" class="popup-form">
                                <select name="medicineId" class="select-1">
                                    <option th:each="medicine : ${allMedicine}"
                                            th:value="${medicine.id}"
                                            th:text="${medicine.name}"></option>
                                </select>
                                <button type="submit" class="button-1">Add</button>
                            </form>

                        </td>
                    </tr>
                    <tr>
                        <td>Created by: </td>
                        <td></td>
                    </tr>
                </table>
                <a th:href="@{'/editPrescription/' + ${prescription.id}}">
                    <button class="special-button">Edit</button>
                </a>
                <a th:href="@{'/deletePrescription/' + ${prescription.id}}">
                    <button class="red-bg special-button">Delete</button>
                </a>
            </div>
        </div>
    </div>
</section>

</body>
</html>