<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>

<section class="content">
    <h2>Prescription</h2>
    <div th:each="prescription : ${prescription}">
        <p>Patient: </p>
        <p>CPR: </p>
        <p>Creation Date: <span th:text="${prescription.date}"></span></p>
        <p>Description:  <span th:text="${prescription.description}"></span></p>
        <p>Medicine: </p>
        <ul th:each="medicine : ${medicine}">
            <li th:text="${medicine.name}"></li>
        </ul>
        <p>Created by: !User!</p>
        <a th:href="@{/prescriptionEdit/{id} (id=${prescription.id})}">Edit</a>
        <a th:href="@{/prescriptionDelete/{id} (id=${prescription.id})}">Delete</a>
    </div>

</section>

</body>
</html>