<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>

<section class="content">
    <div class="box-30p">
        <div class="box-header">
            <h2>Prescription</h2>
        </div>
        <div class="box-content">
            <div th:each="prescription : ${prescription}">
                <table>
                    <tr>
                        <td>Patient: </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CPR: </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Creation date: </td>
                        <td th:text="${prescription.date}"></td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td th:text="${prescription.description}"></td>
                    </tr>
                    <tr>
                        <td>Medicine: </td>
                        <td>
                            <ul th:each="medicine : ${medicine}">
                                <li th:text="${medicine.name}"></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Created by: </td>
                        <td></td>
                    </tr>
                </table>
                <a th:href="@{/prescriptionEdit/{id} (id=${prescription.id})}">
                    <button class="special-button">Edit</button>
                </a>
                <a th:href="@{/prescriptionDelete/{id} (id=${prescription.id})}">
                    <button class="red-bg special-button">Delete</button>
                </a>
            </div>
        </div>
    </div>
</section>

</body>
</html>