<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>


<section class="content">
    <div class="box-holder box-shadow">
        <div class="box-header">
            <h2>Diagnosis</h2>
        </div>
        <div class="box-content">
            <table>
                <tr>
                    <td>Diagnosis name: </td>
                    <td th:text="${diagnosis.diagnosisName}"></td>
                </tr>
                <tr>
                    <td>Patient name: </td>
                    <td th:text="${diagnosis.patientName}"></td>
                </tr>

                <tr>
                    <td>Doctor: </td>
                    <td th:text="${diagnosis.doctorName}"></td>
                </tr>

                <tr>
                    <td>Note: </td>
                    <td th:text="${diagnosis.note}"></td>
                </tr>

                <tr>
                    <td>Medicine(s): </td>
                    <td>
                        <ol>
                            <div th:each="medicine : ${medicineList}">
                                <li th:text="${medicine.name}"></li>
                            </div>
                        </ol>
                    </td>

                </tr>
                <tr>
                    <td>Date: </td>
                    <td th:text="${diagnosis.patientName}"></td>
                </tr>
            </table>
        </div>
    </div>
</section>
