<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Note</th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <td th:text="${diagnosis.}"></td>
        <td th:text="${diagnosis.}"></td>
        <td th:text="${diagnosis.}"></td>
        <td th:text="${diagnosis.}"></td>
        <td th:text="${diagnosis.}"></td>
        <td th:text="${diagnosis.}"></td>
    </tr>
</table>
</body>
</html>