<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Note</th>
        <th>Medicine</th>
        <th>Date</th>
    </tr>

    <tr>
        <td th:text="${diagnosis.diagnosisName}"></td>
        <td th:text="${diagnosis.patientName}"></td>
        <td th:text="${diagnosis.doctorName}"></td>
        <td th:text="${diagnosis.note}"></td>
        <td>
           <div th:each="medicine : ${medicineList}">
               <p th:text="${medicine.name}"></p>
           </div>
        </td>
        <td th:text="${diagnosis.date}"></td>
    </tr>
</table>
</body>
</html>