<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:replace="fragments/header :: header"></div>

<section class="content">
    <div class="box-holder box-shadow">
        <div class="box-header">
            <h3>Watch consultation</h3>
        </div>
        <div class="box-content">
            <table>
                <tr>
                    <td>Patient name: </td>
                    <td th:text="${consultation.patientName}"></td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td th:text="${consultation.description}"></td>
                </tr>
                <tr>
                    <td>Conclusion: </td>
                    <td th:text="${consultation.conclusion}"></td>
                </tr>
                <tr>
                    <td>Date: </td>
                    <td th:text="${consultation.date}"></td>
                </tr>
                <tr>
                    <td>Time: </td>
                    <td th:text="${consultation.time}"></td>
                </tr>
            </table>
        </div>
    </div>


</section>
</body>
</html>